<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de pizza</title>
</head>
<body>
  <form action="/pizzas" method="post" enctype="multipart/form-data">
    <label for="nome">
      Nome da pizza
    </label>
    <input type="text" name="nome" id="nome">
    <label for="preco">
      Preco
    </label>
    <input type="text" name="preco" id="preco">
    <label for="imagem">Imagem para ilustrar</label>
    <input type="file" name="imagem" id="imagem">

    <input type="submit" value="Enviar">

  </form>
</body>
</html>