<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form action="/usuarios/login" method="post">
    <label for="usuario">
      Usuário
      <input type="email" name="usuario" id="usuario">
    </label>
    <label for="senha">
      Senha
      <input type="password" name="senha" id="senha">
    </label>
    <label for="lembrar">
      Manter login aberto
      <input type="checkbox" name="lembrar" id="lembrar">
    </label>
    <input type="submit" value="Enviar">

  </form>
</body>
</html>